@use "../../styles/variables.scss" as var;

.Service {
  font-family: var.$font;

  &__section {
    padding: var.$m-80 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var.$primary;

    &:nth-child(odd) {
      background-color: var.$primary-bg;
      color: var.$white;
    }
  }

  &__service {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;

    &Title {
      font-size: var.$xxxxLarge;
      font-weight: var.$font-bold;
    }

    &Text {
      font-size: var.$large;
    }
  }

  &__content {
    display: flex;
    max-width: 1200px;
    margin: 0 var.$m-48;
    gap: 40px;

    &Card {
      text-align: left;

      span {
        font-size: var.$xxxLarge;
        font-weight: var.$font-bold;
      }

      p {
        margin-top: var.$m-16;
        font-size: var.$large;
      }

      &Link {
        text-align: right;
        font-weight: var.$font-bold;
      }
    }
  }
}
