@use "../../styles/variables.scss" as var;

.Contact {
  display: flex;
  justify-content: space-between;

  &__block {
    width: 640px;
    padding: 0 48px;
    text-align: left;
    span {
      font-size: var.$xxxLarge;
      font-weight: var.$font-bold;
    }

    p {
      margin-top: var.$m-16;
      font-size: var.$large;
    }

    &Button {
      margin-top: var.$m-40;
    }
  }
}
