@use "../../styles/variables.scss" as var;

.Empty {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  font-family: var.$font;
  padding: 64px 0;
  background-color: var.$primary-bg;
  color: var.$white;

  @include var.mq(ltm) {
    padding: 64px 16px;
  }

  h2 {
    font-size: var.$xxxxLarge;
    font-weight: var.$font-bold;
  }

  p {
    font-size: var.$xLarge;
    text-align: left;
  }

  ul {
    list-style: disc;
  }

  li {
    font-size: var.$xLarge;
    color: var.$white;
  }

  a {
    text-decoration: underline;
  }
}
