@use "../../../styles/variables.scss" as var;

.Footer {
  font-family: var.$font;
  width: 100%;
  background-color: var.$white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var.$medium;
  padding: 64px 48px 128px;

  @include var.mq(ltm) {
    padding: 48px 32px;
  }

  &__footerWrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    max-width: 1200px;
    margin: 0 var.$m-16;
    color: var.$primary;
    gap: 128px;
    width: 100%;

    @include var.mq(ltm) {
      display: flex;
      flex-direction: column;
      gap: 0;
    }
  }

  &__company {
    font-size: var.$small;
    font-weight: var.$font-bold;
    text-align: left;

    @include var.mq(ltm) {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding-bottom: 32px;
      border-bottom: 1px solid var.$gray-100;
    }

    &Name {
      font-size: var.$xxxxLarge;
      font-weight: var.$font-bold;
    }

    &Address {
      margin-top: var.$m-32;
    }
  }

  &__links {
    display: flex;
    justify-content: space-between;

    @include var.mq(ltm) {
      flex-wrap: wrap;
      margin-top: var.$m-32;
      row-gap: 24px;
    }
  }

  &__linkColumn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include var.mq(ltm) {
      flex-direction: row;
      flex-wrap: wrap;
      row-gap: 24px;
    }
  }

  &__link {
    font-size: var.$medium;
    font-weight: var.$font-bold;
    margin-top: var.$m-32;

    @include var.mq(ltm) {
      width: 50%;
      margin-top: 0;
      text-align: left;
    }

    &Parent {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      @include var.mq(ltm) {
        width: 50%;
        margin-top: 0;
        text-align: left;
      }
    }

    &Child {
      font-size: var.$small;
      margin-top: var.$m-16;
    }
  }

  &__pc {
    display: flex;

    @include var.mq(ltm) {
      display: none;
    }
  }

  &__sp {
    display: none;

    @include var.mq(ltm) {
      display: flex;
    }
  }
}
